# Bloquear pastas de compilação (Onde estavam os conflitos)
[Bb]in/
[Ob]j/

﻿################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/obj
/.vscode
/Servidor/obj/Debug/net9.0
*.csproj
/Gateway/obj
/Servidor/obj
/Sensor/obj
/Servidor/bin/Debug/net9.0
/Gateway/bin/Debug/net9.0
/Gateway/gateway_history.txt
/Sensor/bin/Debug/net9.0
/Servidor/server_log.txt
/Gateway/bin/Debug/net9.0/Gateway.dll
/Gateway/bin/Debug/net9.0/Gateway.exe
