
﻿################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/obj
/.vscode
/Servidor/obj/Debug/net9.0
/Gateway/obj
/Servidor/obj
/Sensor/obj
/Servidor/bin/Debug/net9.0
/Gateway/bin/Debug/net9.0
/Gateway/gateway_history.txt
/Sensor/bin/Debug/net9.0
/Servidor/server_log.txt
